
.fila{
    border: solid 1px rgb(230, 225, 225) ;
    width: 90px;
    height: 98px;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;


}
.borde{    
    width: 50rem;
    height: 400px;
    background-color: rgb(27, 133, 133);
    border: solid 3px black;

}

.negro{
    background-color: gray;
}


