* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fila {
  border: solid 1px rgb(230, 225, 225);
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.borde {
  width: 35rem;
  height: 340px;
  /* background-color: rgb(27, 133, 133); */
  background: rgb(29, 175, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 175, 222, 1) 0%,
    rgba(84, 84, 198, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  border: solid 3px black;
}

.btnTamaño {
  width: 50%;
}

.btnTamañoComienzo {
  width: 80%;
  height: 100px;
  border-radius: 30px;
  background-color: rgb(171, 226, 205);
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
  color: rgb(8, 8, 8);
  text-transform: uppercase;
}

.tamanio {
  width: 200px;
  height: 100px;
}

.negro {
  background-color: rgb(122, 121, 121);
}

.disabled {
  background-image: linear-gradient(
    to right bottom,
    #ece9e9,
    #e1b5b3,
    #cf827c,
    #b64f46,
    #970f0f
  );
}

body {
  background-image: url("../image/bingo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container__li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
  padding-right: 10px;
  margin-right: 50px;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.titulo {
  animation: muevo-Izquiera-derecha 2s 1;
  animation-fill-mode: forwards;
}

@keyframes muevo-Izquiera-derecha {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(20px);
  }
}
.contenedor {
  overflow-x: hidden;
  max-width: 50%;
  margin: 0 auto;
  background: rgb(29, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 78, 222, 1) 0%,
    rgba(35, 133, 145, 1) 41%,
    rgba(0, 212, 255, 1) 91%
  );
  opacity: 80%;
  border-radius: 40px;
}

.tipo {
  overflow-x: hidden;
  max-width: 60%;
  margin: 0 auto;
  background: rgb(29, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 78, 222, 1) 0%,
    rgba(35, 133, 145, 1) 41%,
    rgba(0, 212, 255, 1) 91%
  );
  opacity: 80%;
}

.inptTamaño {
  width: 500px;
}

.bolilla {
  height: 40%;
  width: 50%;
  margin-top: 0px;
  /* background: rgb(29, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 78, 222, 1) 0%,
    rgba(35, 133, 145, 1) 41%,
    rgba(0, 212, 255, 1) 91%
  ); */

  opacity: 90%;
}

.filaJuego {
  border: solid 1px rgb(230, 225, 225);
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.bordeJuego {
  width: 30rem;
  height: 300px;
  /* background-color: rgb(27, 133, 133); */
  background: rgb(29, 175, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 175, 222, 1) 0%,
    rgba(84, 84, 198, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  border: solid 3px black;
}

.circulo {
  /* overflow-x: hidden;  */
  width: 20%;
  border: solid 1px black;
  text-align: center;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-color: green;
  background: radial-gradient(at top left, #0f0 20%, #040);
  -ms-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  animation: Izquiera-derecha-circulo 3.5s infinite;
}

.btnBingo {
  width: auto;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(171, 226, 205);
  font-size: 20px;
  font-family: helvetica;
  font-weight: bold;
  color: rgb(8, 8, 8);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.efectoEsfera {
  /*padding-top: 30px;*/
  animation: Izquiera-derecha-circulo 3s infinite;
}

.textoEsfera {
  padding-top: 20px;
}

@keyframes Izquiera-derecha-circulo {
  from {
    transform: translateX(500px);
  }
}

.principal {
  margin-left: auto;
  margin-right: auto;
}

.panel {
  overflow-y: scroll;
  padding-bottom: 10px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;

  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #dcddf3,
    #b1bee8,
    #7ba2de,
    #1588d2
  );
}

.panelJugadores {
  position: relative;
  top: 300px;
  height: 50%;

  /* 
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #dcddf3,
    #b1bee8,
    #7ba2de,
    #1588d2
  ); */
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 20px;
}

.nroControl {
  border: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-size: small;
}

.controlGeneral {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #dfe5f0,
    #b5cee0,
    #85bac9,
    #56a5a8
  );
  border-radius: 20px;
  width: 90%;
}

.colorRadionButton {
  color: white;
}

.control {
  position: fixed;
  top: 0;

  height: auto;
}

.bolasDiv {
  overflow: hidden;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.botonBolilla {
  position: relative;
  top: 150px;
  width: 70%;
  left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
