* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fila {
  border: solid 1px rgb(230, 225, 225);
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.borde {
  width: 35rem;
  height: 340px;
  /* background-color: rgb(27, 133, 133); */
  background: rgb(29, 175, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 175, 222, 1) 0%,
    rgba(84, 84, 198, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  border: solid 3px black;
}

.btnTamaño {
  width: 50%;
}

.btnTamañoComienzo {
  width: 80%;
  height: 100px;
  border-radius: 30px;
  background-color: rgb(171, 226, 205);
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
  color: rgb(8, 8, 8);
  text-transform: uppercase;

}

.tamanio {
  width: 200px;
  height: 100px;
}

.negro {
  background-color: rgb(122, 121, 121);
}

body {
  background-image: url("../image/bingo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container__li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
  padding-right: 10px;
  margin-right: 50px;
  justify-content: center;
  text-align: center;
}

.titulo {
  animation: muevo-Izquiera-derecha 2s 1;
  animation-fill-mode: forwards;
}

@keyframes muevo-Izquiera-derecha {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(20px);
  }
}
.contenedor {
  overflow-x: hidden;
  max-width: 50%;
  margin: 0 auto;
  background: rgb(29, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 78, 222, 1) 0%,
    rgba(35, 133, 145, 1) 41%,
    rgba(0, 212, 255, 1) 91%
  );
  opacity: 80%;
  border-radius: 40px;
}

.tipo {
  overflow-x: hidden;
  max-width: 60%;
  margin: 0 auto;
  background: rgb(29, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 78, 222, 1) 0%,
    rgba(35, 133, 145, 1) 41%,
    rgba(0, 212, 255, 1) 91%
  );
  opacity: 80%;
}

.inptTamaño {
  width: 500px;
}

.bolilla {

  max-width: 70%;
  padding-bottom: auto;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 5%;
  background: rgb(29, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 78, 222, 1) 0%,
    rgba(35, 133, 145, 1) 41%,
    rgba(0, 212, 255, 1) 91%
  );
  opacity: 80%;
}


.filaJuego {
  border: solid 1px rgb(230, 225, 225);
  width: 45px;
  height: 65px;
  text-align: center;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.bordeJuego {
  width: 25rem;
  height: 270px;
  /* background-color: rgb(27, 133, 133); */
  background: rgb(29, 175, 222);
  background: linear-gradient(
    90deg,
    rgba(29, 175, 222, 1) 0%,
    rgba(84, 84, 198, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  border: solid 3px black;
}